/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered{
    max-width: 1000px;
    margin: 0 auto;
}
/* assets */

body{
    font-family: sans-serif;
}

/* header */

header{
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* nav */

nav{
    background-color: #FC6901;
    height: 50px;
}

nav .nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .nav-inner .body-type ul{
    display: flex;

    list-style-type: none;
}

nav .nav-inner .body-type ul li{
    padding: 0 .3em;
    font-size: 0.8em;
}

.nav-inner .body-type ul li a{
    text-decoration: none;
    color: white;
}

.nav-inner .body-type ul li a:hover{
    text-decoration: underline;
}

nav .nav-inner .logo {
    display: flex;
    align-items: center;
}

nav .nav-inner .logo img{
    width: 100px;
}

nav .nav-inner .cart{
    display: flex;
}

nav .nav-inner .cart svg {
    width: 1.2em;
    fill: #ffffff;
    padding: 0 .2em;
}
/* /nav */
/* /header */


/* Main */

main{
    padding-top: 100px;
}

main .card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main .card-container .card {

    display: flex;
    flex-flow: column nowrap;

    width: calc((100% / 3) - 0.6em);
}

main .card-container .card .card-image{
    position: relative;
}


main .card-container .card img {
    display: block;
    width: 100%;
}   

main .card .card-image .img-secondary{
    display: none;

    position: absolute;
    top: 0;
    left: 0;
}

.card .card-image:hover .img-secondary{
    display: inline-block;
}


main .card .favourite{
    position: absolute;
    top: 5px;
    right: 0;

    width: 30px;
    height: 30px;
    background-color: #fff;

    text-align: center;
    font-size: 1.2em;
}

/* Bonus */
main .card .favourite:hover {
    color: red;
}
/* /Bonus */

main .card .card-tag {
    position: absolute;
    bottom: 30px;
    left: 0;

    display: flex;

    font-size: 0.7em;
    color: #ffffff;
}

main .card .card-info{
    margin-bottom: 2em;
}

main .card .card-tag .discount{
    background-color: #FB1900;
    padding: 4px 7px;
    margin-right: 3px;
}

main .card .card-tag .eco-material{
    background-color: #158000;
    padding: 5px 8px;
}

main .card .card-info .brand-name{
    font-size: .8em;
}

main .card .card-info .product-name{
    text-transform: uppercase;
}

main .card-info .product-price {
    font-size: .8em;
}

main .card-info .product-price .discount-price{
    color: red;
}

main .card-info .product-price .original-price{
    text-decoration: line-through;
}



/* /Main */
