/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered{
    max-width: 1000px;
    margin: 0 auto;
}
/* assets */

body{
    font-family: sans-serif;
}

/* header */

header{
    position: fixed;
    width: 100%;
}

/* nav */

nav{
    background-color: #FC6901;
    height: 50px;
}

nav .nav-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .nav-inner .body-type ul{
    display: flex;

    list-style-type: none;
}

nav .nav-inner .body-type ul li{
    padding: 0 .3em;
    font-size: 0.8em;
}

.nav-inner .body-type ul li a{
    text-decoration: none;
    color: white;
}

.nav-inner .body-type ul li a:hover{
    text-decoration: underline;
}

nav .nav-inner .logo {
    display: flex;
    align-items: center;
}

nav .nav-inner .logo img{
    width: 100px;
}

nav .nav-inner .cart{
    display: flex;
}

nav .nav-inner .cart svg {
    width: 1.2em;
    fill: #ffffff;
    padding: 0 .2em;
}
/* /nav */
/* /header */


/* Main */

main{
    padding-top: 100px;
}

main .card-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main .card-container .card {
    width: calc((100% / 3) - 0.6em);
}

main .card-container .card img {
    display: block;
    width: 100%;
}   


/* /Main */
